{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier",
    "promise",
    "react"
  ],
  "env": {
    "node": false,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.8"
    },
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "curly": [2, "all"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "arrow-body-style": ["error", "as-needed"],
    "no-use-before-define": "error",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "promise/always-return": "error",
    "promise/catch-or-return": "error",
    "promise/param-names": "error",
    "promise/no-return-wrap": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "ignoreRestSiblings": true }
    ],
    "prettier/prettier": ["error"],
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
